@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: #111827;
  font-family: 'GreyCliff', source-code-pro, Roboto, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: "GreyCliff";   /*Can be any text*/
  src: local("FONTSPRING DEMO - Greycliff CF"),
    url("../_fonts/GreyCliff.otf") format("opentype");
}
code {
  font-family: 'GreyCliff', source-code-pro, Roboto, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
